:root {
  --color-c1: #F2F2F2;
  --color-c2: #FAFAFA;
  --color-c3: #FFFFFF;
  /* ...... */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

.form {
  width: 80%;
  background-color: var(--color-c3);
  margin: auto;
  padding: 2em;
}

.form__title::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 5px;
  background-color: var(--color-c1);
}